body {
    background-color: #fff;
    max-width: 1280px;
        margin: 0 auto;
        width:100%;
}

#header-links {
    background-color: #3b5998;
    padding: 20px;
    color: #fff;
    text-align:center;

}

#header-links a{
padding: 10px;
color: white;
    text-transform: uppercase;
    text-decoration: none;
    display:inline-block;
}

#header-links a:active{
color: green;

}
h1 {
    color: #000;text-align: center;
}

h2{    text-align: center;
      font-size: 30px;}

p{   max-width: 500px;
         margin: 0 auto;
         font-size: 20px;
         padding: 10px;}
input{width:100%}

input#submit{color: white;
                 background-color: #3b5998;
                 padding: 10px 20px;
                 font-size: 18px;}

table {margin:0 auto}

td{padding: 15px 20px;
       text-align: center;background-color: yellow;}
th{background-color:#3b5998; color:white}

a{color: white;
                   background-color: #3b5998;
                   padding: 10px 20px;
                   font-size: 18px;
                   text-decoration:none;    margin: 5px;}